* {
  margin: 0;
  padding: 0;
}
html,
body {
  background: linear-gradient(45deg, #5b00ee, #ad81f5);
}

#main {
  margin: auto;
  width: 50%;
  background-color: rgba(255, 255, 255, 0.4);
  margin-top: 3%;
  padding: 2%;
}
